@model IEnumerable<Core.Entities.Provider>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Providers</h1>
    <a class="btn btn-secondary text-light" asp-action="Create">Create New Provider</a>
    <div class="row">
        <div class="col-md-12">
            @if (Model != null && Model.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model)
                        {
                            <tr>
                                <td>@patient.Name</td>
                                <td class="text-end">
                                    <a class="me-2" title="Edit" asp-action="Edit" asp-route-id="@patient.Id">
                                        <i class="fas fa-edit text-warning"></i>
                                    </a>
                                    <a class="me-2" title="Details" asp-action="Details" asp-route-id="@patient.Id">
                                        <i class="fas fa-info-circle text-primary"></i>
                                    </a>
                                    <a class="me-2" title="Delete" asp-action="Delete" asp-route-id="@patient.Id">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-center">No providers found.</p>
            }
        </div>
    </div>
</div>
