@{
    Layout = "~/Areas/Provider/Views/Shared/_ProviderLayout.cshtml";
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <div class="row">
        Welcome to the Provider Dashboard!
    </div>
</div>