@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Web.Models.ViewModels.PatientCreateViewModel

@{
    ViewData["Title"] = "Create Patient";
}


<div class="container">
    <h1>Create Patient</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" asp-controller="Patients" asp-area="" method="POST">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" type="text" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age"></label>
                    <input asp-for="Age" class="form-control" type="number" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <a class ="btn btn-secondary text-light mt-2" asp-action="Index" asp-controller="Patients" asp-area="">Back to List</a>
        </div>
    </div>
</div>
