@model Application.DTOs.PatientDto

@{
    ViewData["Title"] = "Delete Patient";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Delete Patient</h1>
            <hr />
            <h3>Are you sure you want to delete this patient?</h3>
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        Name
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Name
                    </dd>
                    <dt class="col-sm-2">
                        Age
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Age
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="PatientId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
                <a class="btn btn-secondary text-light mt-2" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
