@model Application.DTOs.PatientDto

@{
    ViewData["Title"] = "Patient Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Patient Details</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Name
                </dt>
                <dd class="col-sm-10">
                    @Model.Name
                </dd>
                <dt class="col-sm-2">
                    Age
                </dt>
                <dd class="col-sm-10">
                    @Model.Age
                </dd>
            </dl>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-secondary text-light" asp-action="Index">Back to List</a>
    </div>
</div>
