@model Core.Entities.Practice

@{
    ViewData["Title"] = "Create Practice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Create Practice</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <a class="btn btn-secondary text-light mt-2" asp-action="Index" asp-controller="Practice" asp-area="">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

