@model Core.Entities.Specialty

@{
    ViewData["Title"] = "Create Specialty";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Create Specialty</h1>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                    <a class="btn btn-secondary text-light mt-2" asp-action="Index" asp-controller="Specialties" asp-area="">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
