@using Core.Entities.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var firstName = string.Empty;
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        if (user != null && !string.IsNullOrEmpty(user.FirstName))
        {
            firstName = user.FirstName;
        }
        else
        {
            firstName = User.Identity.Name;
        }
    }
}


@if (SignInManager.IsSignedIn(User))
{
    <ul class="identity-dropdown-menu">
        <li class="dropdown identity-dropdown-menu-inner">
            <span>Hello, @firstName!</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
            <ul>
                <li><a href="@Url.Action("Index", "Home", new { Area = "Admin" })">Dashboard</a></li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index">Account Settings</a>                
            </ul>
        </li>
    </ul>
    <li>
        <a href="#" id="logout-button">Logout</a>
        <form id="logout-form" class="form-inline d-none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
        </form>
    </li>
}
else
{
    <li><a href="@Url.Action("Create", "AccountRequests", new { Area = "" })">Register</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#logout-button').click(function (e) {
            e.preventDefault();
            var form = $("#logout-form");
            Swal.fire({
                title: 'Are you sure you want to logout?',
                showCancelButton: true,
                confirmButtonText: `Yes`,
                cancelButtonText: `No`,
                icon: 'warning'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
</script>