@{
    ViewData["Title"] = "Manage your account";
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
}

<div class="container">
    <div class="row">
        <div class="manage-account-inner">
            <div class="col-md-2 account-manage-navigation">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9 account-manage-content">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
