@model Web.Models.ViewModels.AccountRequestViewModel

@{
    ViewData["Title"] = "Request Account";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.States = new SelectList(Model.ListOfStates, "Value", "Text");
}

<div class="container">
    <div class="row">
        <div class="col-md-12" id="account-login-form">
            <h1 class="text-center">Account Request</h1>
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="DateOfBirth"></label>
                            <input asp-for="DateOfBirth" type="date" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address1"></label>
                    <input asp-for="Address1" class="form-control" />
                    <span asp-validation-for="Address1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address2"></label>
                    <input asp-for="Address2" class="form-control" />
                    <span asp-validation-for="Address2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="City"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="ListOfStates"></label>
                            @Html.DropDownListFor(m => m.SelectedState, ViewBag.States as SelectList, "Select State", new { @class = "form-control" })
                            <span asp-validation-for="SelectedState" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="MedicalLicenseDocument"></label>
                            <input asp-for="MedicalLicenseDocument" class="form-control" accept="application/pdf" />
                            <span asp-validation-for="MedicalLicenseDocument" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="CertificationDocument"></label>
                            <input asp-for="CertificationDocument" class="form-control" accept="application/pdf" />
                            <span asp-validation-for="CertificationDocument" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="CVDocument"></label>
                            <input asp-for="CVDocument" class="form-control" accept="application/pdf" />
                            <span asp-validation-for="CVDocument" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-4">Submit Request</button>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#MedicalLicenseDocument").change(function () {
                var file = this.files[0];
                var fileType = file["type"];
                var validImageTypes = ["application/pdf"];
                if ($.inArray(fileType, validImageTypes) < 0) {
                    CreateAlert("Invalid file type. Please upload a PDF file.");
                    $("#MedicalLicenseDocument").val('');
                }
            });

            $("#CertificationDocument").change(function () {
                var file = this.files[0];
                var fileType = file["type"];
                var validImageTypes = ["application/pdf"];
                if ($.inArray(fileType, validImageTypes) < 0) {
                    CreateAlert("Invalid file type. Please upload a PDF file.");
                    $("#CertificationDocument").val('');
                }
            });

            $("#CVDocument").change(function () {
                var file = this.files[0];
                var fileType = file["type"];
                var validImageTypes = ["application/pdf"];
                if ($.inArray(fileType, validImageTypes) < 0) {
                    CreateAlert("Invalid file type. Please upload a PDF file.");
                    $("#CVDocument").val('');
                }
            });

            const CreateAlert = (message) => {
                var alert = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                ${message}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                             </div>`;

                $("#account-login-form").prepend(alert);
                setTimeout(() => {
                    $(".alert").alert('close');
                }, 5000);
            }

            $("#PhoneNumber").on("change", function () {
                var phone = $(this).val();
                var cleaned = ('' + phone).replace(/\D/g, '');
                var match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/);
                if (match) {
                    $(this).val('(' + match[1] + ') ' + match[2] + '-' + match[3]);
                }
                else {
                    CreateAlert("Invalid phone number. Please enter a valid phone number.");
                    $(this).val('');
                }
            });

            $("form").submit(function (e) {
                e.preventDefault();
                var formSubmitButton = $("button[type='submit']");
                var width = formSubmitButton.width();
                formSubmitButton.prop("disabled", true);
                formSubmitButton.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
                formSubmitButton.width(width);
                if ($(this).valid()) {
                    this.submit();
                }
                else {
                    formSubmitButton.prop("disabled", false);
                    formSubmitButton.html('Submit Request');
                }
            });
        });
    </script>
}
