@{
    ViewData["Title"] = "Request Submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Request Submitted Successfully</h1>
            <p>Your account request has been submitted and is pending approval. You will receive an email notification once your request is reviewed.</p>
        </div>
    </div>
</div>
